In [33]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data_Preprocessing/Data.csv')

In [34]:
#independent var
x = df.iloc[:,:-1].values
#dependent
y = df.iloc[:,-1].values

In [35]:
#handle missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='median')
imputer = imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [36]:
"""# converting categorical values to numerical
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(categories=[0])
#encoder.fit(x[:,:])
x =encoder.fit_transform(x).toarray()
print(x)"""

'# converting categorical values to numerical\nfrom sklearn.preprocessing import OneHotEncoder\nencoder = OneHotEncoder(categories=[0])\n#encoder.fit(x[:,:])\nx =encoder.fit_transform(x).toarray()\nprint(x)'

In [37]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [38]:
#encoding categoricla data using pandas
dummies = pd.get_dummies(x[:,0])
dummies
final = pd.concat([dummies , df],axis='columns')
final.drop(['Country'],axis=1)
final

   France  Germany  Spain  Country   Age   Salary Purchased
0       1        0      0   France  44.0  72000.0        No
1       0        0      1    Spain  27.0  48000.0       Yes
2       0        1      0  Germany  30.0  54000.0        No
3       0        0      1    Spain  38.0  61000.0        No
4       0        1      0  Germany  40.0      NaN       Yes
5       1        0      0   France  35.0  58000.0       Yes
6       0        0      1    Spain   NaN  52000.0        No
7       1        0      0   France  48.0  79000.0       Yes
8       0        1      0  Germany  50.0  83000.0        No
9       1        0      0   France  37.0  67000.0       Yes

In [39]:
#encoding categorical data using sklearn
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [40]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(categories='auto')
encoder.fit(x[:,0:1])
z = encoder.transform(x[:,0:1]).toarray()
z

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [41]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [42]:
final = np.concatenate([x,z],axis=1)
np.delete(final , [0],axis = 1)

array([[44.0, 72000.0, 1.0, 0.0, 0.0],
       [27.0, 48000.0, 0.0, 0.0, 1.0],
       [30.0, 54000.0, 0.0, 1.0, 0.0],
       [38.0, 61000.0, 0.0, 0.0, 1.0],
       [40.0, 61000.0, 0.0, 1.0, 0.0],
       [35.0, 58000.0, 1.0, 0.0, 0.0],
       [38.0, 52000.0, 0.0, 0.0, 1.0],
       [48.0, 79000.0, 1.0, 0.0, 0.0],
       [50.0, 83000.0, 0.0, 1.0, 0.0],
       [37.0, 67000.0, 1.0, 0.0, 0.0]], dtype=object)