In [72]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data_Preprocessing/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [73]:
#converting categorical data to dummy variable using onehotencoding provided by PANDAS
dummy = pd.get_dummies(df['Country']) #['country'] refers to columns
dummy #shows matrix received consisting of 2d array

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [74]:
final = pd.concat([dummy , df],axis = 1)   # here we concatenated dummy matrix and given data frame
final

   France  Germany  Spain  Country   Age   Salary Purchased
0       1        0      0   France  44.0  72000.0        No
1       0        0      1    Spain  27.0  48000.0       Yes
2       0        1      0  Germany  30.0  54000.0        No
3       0        0      1    Spain  38.0  61000.0        No
4       0        1      0  Germany  40.0      NaN       Yes
5       1        0      0   France  35.0  58000.0       Yes
6       0        0      1    Spain   NaN  52000.0        No
7       1        0      0   France  48.0  79000.0       Yes
8       0        1      0  Germany  50.0  83000.0        No
9       1        0      0   France  37.0  67000.0       Yes

In [75]:
final = final.drop('Country' , axis=1) # To drop the column consisting of categorical data.............axis=1 specifies removal to be done column wise

In [76]:
x = final.iloc[:,:-1].values   #sparse matrix with dependent variables
y = final.iloc[:,-1].values     #sparse matrix with independent variables

array([[1.0e+00, 0.0e+00, 0.0e+00, 4.4e+01, 7.2e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.7e+01, 4.8e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.8e+01, 6.1e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 4.0e+01,     nan],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.5e+01, 5.8e+04],
       [0.0e+00, 0.0e+00, 1.0e+00,     nan, 5.2e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.8e+01, 7.9e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 5.0e+01, 8.3e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.7e+01, 6.7e+04]])

In [77]:
#Replacement of missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan ,strategy='median')
imputer = imputer.fit(x)   #the imputer object is fitted/analysed ovee x matrix
x = imputer.transform(x)    #transform the missing datas in x....returns a new sparse matrix
x

array([[1.0e+00, 0.0e+00, 0.0e+00, 4.4e+01, 7.2e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.7e+01, 4.8e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.8e+01, 6.1e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 4.0e+01, 6.1e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.5e+01, 5.8e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.8e+01, 5.2e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.8e+01, 7.9e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 5.0e+01, 8.3e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.7e+01, 6.7e+04]])

In [78]:
#to convert categorical data which can be compared ...we use LabelEncoding.....here we have 'yes and 'no' as variables
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(['yes' , 'no'])
y = enc.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [79]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(with_mean=True , with_std = True)
x[:,3:5] = scaler.fit_transform(x[:,3:5])
x

array([[ 1.        ,  0.        ,  0.        ,  0.76973439,  0.77256767],
       [ 0.        ,  0.        ,  1.        , -1.69922498, -1.40879986],
       [ 0.        ,  1.        ,  0.        , -1.26352627, -0.86345798],
       [ 0.        ,  0.        ,  1.        , -0.10166303, -0.22722578],
       [ 0.        ,  1.        ,  0.        ,  0.18880278, -0.22722578],
       [ 1.        ,  0.        ,  0.        , -0.53736175, -0.49989673],
       [ 0.        ,  0.        ,  1.        , -0.10166303, -1.04523861],
       [ 1.        ,  0.        ,  0.        ,  1.35066601,  1.40879986],
       [ 0.        ,  1.        ,  0.        ,  1.64113182,  1.77236112],
       [ 1.        ,  0.        ,  0.        , -0.24689594,  0.3181161 ]])

In [83]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)
x_train

array([[ 1.        ,  0.        ,  0.        , -0.53736175, -0.49989673],
       [ 1.        ,  0.        ,  0.        ,  0.76973439,  0.77256767],
       [ 1.        ,  0.        ,  0.        ,  1.35066601,  1.40879986],
       [ 0.        ,  1.        ,  0.        , -1.26352627, -0.86345798],
       [ 1.        ,  0.        ,  0.        , -0.24689594,  0.3181161 ],
       [ 0.        ,  1.        ,  0.        ,  0.18880278, -0.22722578],
       [ 0.        ,  0.        ,  1.        , -0.10166303, -0.22722578],
       [ 0.        ,  0.        ,  1.        , -0.10166303, -1.04523861]])

In [84]:
x_test

array([[ 0.        ,  1.        ,  0.        ,  1.64113182,  1.77236112],
       [ 0.        ,  0.        ,  1.        , -1.69922498, -1.40879986]])

In [85]:
y_train

array([1, 0, 1, 0, 1, 1, 0, 0])

In [86]:
y_test

array([0, 1])